<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880225028168-vanjm6b8n4ktibkflq6ekhdq03mdv84s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880225028168-vanjm6b8n4ktibkflq6ekhdq03mdv84s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>880225028168-akiejb1osahutd2pop3d58indbioqpve.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCHWmGrbN8ceh9yRh5gYHKiwBgGoEdeLs</string>
	<key>GCM_SENDER_ID</key>
	<string>880225028168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.kun.Social-Distance-Alarm</string>
	<key>PROJECT_ID</key>
	<string>opentrace-16071</string>
	<key>STORAGE_BUCKET</key>
	<string>opentrace-16071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880225028168:ios:38a21dbd8d52544eeb307d</string>
	<key>DATABASE_URL</key>
	<string>https://opentrace-16071.firebaseio.com</string>
</dict>
</plist>